img {
    width: 200px;
    margin-left: 45%;
    padding-top: 20px;
}

body {
background-color: #9C344C;
font-family: 'Chicle', cursive;
}

#headline {
    margin-left: 40%;
    color: #EE9FB1;
}

#h3 {
    margin-left: 42%;
    color: #EE9FB1;

}
#make-text {
    margin-left: 47%;
    font-size: 20px;
    color: #EE9FB1;

}

#not-devoured-text {
    margin-left: 50%
  
}

.notEaten {
    margin-left: 50%
 
}


#devoured-text {
    margin-left: 30%
  
}

.burgerEaten {
    margin-left: 10%;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 250px;
    background-color: #6F1228;
    color: white;
 
}

#submit {
    /* margin-left: 30%;
    margin-top: 10px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 150px;
    background-color: #BF517D;
    color: white;
 
}

.notEaten {
    margin-left: 45%;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 250px;
    background-color: #0F5C1C;
    color: white;
 
}

#make-field {
    margin-left: 30%;
    margin-right: 20%;
}

#name{
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;

}

#not-devoured-text{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #c9cdd1;
}

#devoured-text{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #c9cdd1;
    margin-left: 45px;
}

html{
    color: #c9cdd1
}

